body {
  background-image: url(../../imagenes/pisaron.png); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}




h1 {
  color: #ffffff;
  font-weight: bold;
}


p.lead {
  color: #e9e9e9;
  font-style: italic;
}


.btn-success {
  background-color: #000000;
  border: none;
}

.btn-success:hover {
  background-color: #000000;
}


footer {

    padding: 10px;
    text-align:center;
  background-color: #195e83;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.dino-left, .dino-right {
  position: absolute;
  top: 30%;
  width: 500px;
  height: auto;
  z-index: 1;
}

.dino-left {
  left: 0;
}

.dino-right {
  right: 0;
}

@media (max-width: 576px) {
  .dino-left, .dino-right {
    display: none;
  }
}
